<div class="hero" id="home">
    <div class="heroLeft">
        <h1>Witaj Makaroniarzu</h1>
        <p>Tutaj znajdziesz wiele informacji na temat różnych rodzajów makaronów.</p>
        <a href="#featuredPastas"><Button>Zobacz przepisy</Button></a>
    </div>
    <div class="heroRight">
        <img src="/assets/spaghetti.png" alt="Spaghetti Plate">
    </div>
</div>
<div class="sectionContainer" id="featuredPastas">
    <h1>
        Polecane
        <img src="/assets/mustache.svg" alt="Mustache">
    </h1>


    <div class="scrollableRow">
        {{#each pastaData}}
        <a class="featured" href="/pasta/{{this.name}}">
            <img src="/assets/{{this.image}}" alt={{this.name}}>
            <p>{{this.name}}</p>
            <span>{{this.shortDescription}}</span>
            <span class="bg"></span>
        </a>
        {{/each}}
    </div>
</div>