<div class="pasta">
    <div class="pastaLeft">
        <img src="/assets/{{pastaData.image}}" alt="Spaghetti Plate">    
    </div>
    <div class="pastaRight">
        <h1>{{pastaData.name}}</h1>
        <p>{{pastaData.description}}</p>
        <span>{{pastaData.preparationTime}} min</span>
        <span>{{pastaData.ingredients.length}} skladnikow</span>
    </div>
</div>